<div class='main-nav'>
  <div class='navbar navbar-dark bg-dark navbar-expand-sm'>
    <a class='navbar-brand' [routerLink]='["/"]'>Coding Flow</a>
    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse' (click)='toggle()'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class='navbar-collapse collapse' [ngClass]='{ "collapse": !isExpanded }'>
      <ul class='navbar-nav flex-column'>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
            <span class='fa fa-home'></span> Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/counter"]' (click)='collapse()'>
            <span class='fa fa-graduation-cap'></span> Counter
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/customers"]' (click)='collapse()'>
            <span class='fa fa-sun-o'></span> Fetch data
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
